*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg , #590d22 , #800f2f , #a4133c );
}

span{
    color: #74132e;
    font-weight: bold;
}
.cards{
    cursor: pointer;
  
}

.btn1{
    background-color: rgb(180, 1, 1);
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}
.btn1:hover{
    background-color: rgb(218, 1, 1);
    
}
.btn2{
    background-color: rgb(255, 60, 1);
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}
.btn2:hover{
    background-color: rgb(255, 74, 19);
    
}